<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand ml-lg-5" href="">SEPM Group Phase</a>
  <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/message" routerLinkActive="active">Message</a>
      </li>
      <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
    </ul>
    <ul class="navbar-nav mr-5">
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/edit-profile">Edit profile</a>
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
<!--      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>-->
      <div class="btn-group" *ngIf="!authService.isLoggedIn()" role="group">
        <button id="btnGroupDropLogin" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Login
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDropLogin">
          <button class="dropdown-item" data-target="#loginModal" data-toggle="modal" (click)="isEmployee=true">as Employee</button>
          <button class="dropdown-item" data-target="#loginModal" data-toggle="modal" (click)="isEmployee=false">as Employer</button>
        </div>
      </div>
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.logoutUser()">Logout</a>
    </ul>
  </div>
</nav>
<app-login [isEmployee]="isEmployee"></app-login>
