.bi-chat:hover{
  color: cornflowerblue;
}
.bi-chat{
   color: whitesmoke;
}
.badge-notify{
  background: #ff4747;
  color: white;
  position:relative;
  top: -10px;
  left: -15px;
  width: 24px;
  height: 24px;
}
.login-button {
  background-color: #FFA545;
  color: #465c69;
  border-color: #465c69;
  font-weight: bold;
}
.login-button:hover {
  background-color: #465c69;
  color: #FFA545;
}
.header-class {
  background-color: #FFA545;

}
.header-content {
  font-family: 'Century Gothic', sans-serif;
  font-size: large;
  margin-left: 1rem;
}
.logo-class {
  filter: invert(1);
}
.nav-class {
  font-family: "Century Gothic", sans-serif;
  color: #ffe6cc;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.nav-class:hover {
  color: #465c69;
  text-underline-color: #465c69;
  text-underline: #465c69;
}
.dropdown-edit {
  color: black;
}
.dropdown-logout {
  color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dropdown-logout:hover {
  background-color: #ff4747;
  color: white;
}
.profile-img {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffe6cc;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.profile-img:hover {
  border: 2px solid #465c69;

}
.profile-img-default {
  color: #ffe6cc;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.profile-img-default:hover {
  color: #465c69;
}
