<div class="jumbotron mt-5">
  <h1 class="display-4">Profil bearbeiten</h1>
  <hr class="my-4">

  <div>
    <form class="form" [formGroup]="editForm">
      <!-- profile picture -->
      <div>
        <div class="mb-2">
          <button class="btn btn-link float-right" (click)=deletePicture()>Bild entfernen</button>
          <div class="container" (click)="file.click()">
            <img *ngIf="hasPicture" id="img" src="{{picture}}" alt="profile_picture"
                 class="image">
            <img *ngIf="!hasPicture" id="img_default" src="assets/user_default.svg" alt="default_profile_picture">
            <div class="centered">Profilbild ändern</div>
          </div>
        </div>
      </div>
      <input type="file" id="pictureUpload" accept="image/png, image/jpeg" (change)="onFileSelected($event)"
             required #pictureUpload style="position: fixed; top: -100em" #file>

      <!-- company name -->
      <div class="form-group pt-3">
        <label for="companyName_edit_employer">Name des Unternehmens*</label>
        <input class="form-control" type="text" name="companyName" formControlName="companyName"
               id="companyName_edit_employer"
               placeholder="Name">

        <div *ngIf="submitted && editForm.controls.companyName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.companyName.errors.required">Name muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- company description -->
      <div class="form-group" *ngIf="employer !== undefined && employer.companyName !== 'Privatperson'">
        <label for="companyDescription_edit_employer">Beschreibung des Unternehmens</label>
        <textarea name="companyDescription" formControlName="companyDescription" class="form-control"
                  id="companyDescription_edit_employer"
                  placeholder="Beschreibung ..." maxlength="10000"></textarea>
      </div>

      <hr/>

      <div class="row">
        <!-- first name -->
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label for="firstName_edit_employer">Vorname*</label>
            <input class="form-control" type="text" name="firstName" formControlName="firstName"
                   id="firstName_edit_employer"
                   placeholder="Vorname">

            <div *ngIf="submitted && editForm.controls.firstName.errors"
                 class="error">
              <small class="form-text text-info" *ngIf="editForm.controls.firstName.errors.required">Vorname muss
                eingegeben werden
              </small>
              <small class="form-text text-info" *ngIf="editForm.controls.firstName.errors.pattern">
                Vorname muss mit einem Buchstaben beginnen und darf keine Sonderzeichen enthalten
              </small>
            </div>
          </div>
        </div>

        <!-- last name -->
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label for="lastName_edit_employer">Nachname*</label>
            <input class="form-control" type="text" name="lastName" formControlName="lastName"
                   id="lastName_edit_employer"
                   placeholder="Nachname">
            <div *ngIf="submitted && editForm.controls.lastName.errors"
                 class="error">
              <small class="form-text text-info" *ngIf="editForm.controls.lastName.errors.required">Nachname muss
                eingegeben werden
              </small>
              <small class="form-text text-info" *ngIf="editForm.controls.lastName.errors.pattern">
                Nachname muss mit einem Buchstaben beginnen und darf keine Sonderzeichen enthalten
              </small>
            </div>
          </div>
        </div>
      </div>

      <!-- public info -->
      <div class="form-group">
        <label for="publicInfo_edit_employer">Öffentliche Profilbeschreibung</label>
        <textarea name="publicInfo" formControlName="publicInfo" class="form-control" id="publicInfo_edit_employer"
                  placeholder="Beschreibung, Telefonnummer, ..." maxlength="10000"></textarea>
      </div>

      <hr/>

      <div class="row">
        <!-- email -->
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label for="email_edit_employer">E-Mail Adresse*</label>
            <input type="email" name="email" formControlName="email" class="form-control" id="email_edit_employer"
                   readonly>
            <div *ngIf="submitted && editForm.controls.email.errors" class="error">
              <small class="form-text text-info" *ngIf="editForm.controls.email.errors.required">E-Mail Adresse muss
                eingegeben werden
              </small>
            </div>
          </div>
        </div>

        <!-- password -->
        <div class="col-md-6 col-sm-6">
          <label>Passwort</label>
          <br>
          <button class="btn btn-outline-secondary" data-target="#passwordUpdateModal"
                  data-toggle="modal">Passwort ändern
          </button>
          <app-edit-password></app-edit-password>
        </div>

      </div>

      <hr/>
      <alert></alert>
      <div class="form-group">
        <button type="button" data-target="#deleteProfileModal" data-toggle="modal"
                class="btn btn-outline-danger float-left">Profil löschen
        </button>
        <app-delete-profile></app-delete-profile>
        <button type="button" (click)="update()" class="btn btn-primary float-right">Speichern</button>
      </div>
    </form>
  </div>
</div>
