<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Fehler! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="jumbotron mt-5">
  <h1 class="display-4">Profil bearbeiten</h1>
  <hr class="my-4">
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()">

    <form class="form" [formGroup]="editForm">
      <!-- profile picture -->
      <div>
        <div class="mb-2">
          <button class="btn btn-link float-right" (click)=deletePicture()>Bild entfernen</button>
          <div class="container" (click)="file.click()">
            <img *ngIf="hasPicture" id="img" src="{{picture}}" alt="profile_picture"
                 class="image">
            <img *ngIf="!hasPicture" id="img_default" src="assets/user_default.svg" alt="default_profile_picture">
            <div class="centered">Profilbild ändern</div>
          </div>
        </div>
      </div>
      <input type="file" id="pictureUpload" accept="image/png, image/jpeg" (change)="onFileSelected($event)"
             required #pictureUpload style="position: fixed; top: -100em" #file>

      <!-- first name -->
      <div class="form-group">
        <label for="firstName">Vorname*</label>
        <input class="form-control" type="text" name="firstName" formControlName="firstName" id="firstName"
               placeholder="Vorname">

        <div *ngIf="submitted && editForm.controls.firstName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.firstName.errors.required">Vorname muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- last name -->
      <div class="form-group">
        <label for="lastName">Nachname*</label>
        <input class="form-control" type="text" name="lastName" formControlName="lastName" id="lastName"
               placeholder="Nachname">
        <div *ngIf="submitted && editForm.controls.lastName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.lastName.errors.required">Nachname muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- email -->
      <div class="form-group">
        <label for="email">E-Mail Adresse*</label>
        <input type="email" name="email" formControlName="email" class="form-control" id="email" readonly>
        <div *ngIf="submitted && editForm.controls.email.errors" class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.email.errors.required">E-Mail Adresse muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- public info -->
      <div class="form-group">
        <label for="publicInfo">Öffentliche Profilbeschreibung</label>
        <textarea name="publicInfo" formControlName="publicInfo" class="form-control" id="publicInfo"
                  placeholder="Beschreibung ..." maxlength="10000"></textarea>
      </div>

      <!-- company name -->
      <div class="form-group">
        <label for="companyName">Name des Unternehmens*</label>
        <input class="form-control" type="text" name="companyName" formControlName="companyName" id="companyName"
               placeholder="Name">

        <div *ngIf="submitted && editForm.controls.companyName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.companyName.errors.required">Name muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- company description -->
      <div class="form-group">
        <label for="companyDescription">Beschreibung des Unternehmens</label>
        <textarea name="companyDescription" formControlName="companyDescription" class="form-control"
                  id="companyDescription"
                  placeholder="Beschreibung ..." maxlength="10000"></textarea>
      </div>

      <div class="form-group form-check">
        <!--button type="button" routerLink="/" class="btn btn-outline-secondary float-right">Abbrechen</button-->
        <button type="button" (click)="update()" class="btn btn-outline-primary float-right">Speichern</button>
      </div>
    </form>
  </div>
</div>

<button class="btn btn-primary float-right" (click)="changePassword=true" data-target="#passwordUpdateModal"
        data-toggle="modal">Passwort ändern
</button>
<app-edit-password [changePassword]="changePassword"></app-edit-password>
