
<!-- Modal ADD TASK-->
<div class="modal fade" id="Add-Task" tabindex="-1" role="dialog" aria-labelledby="addTaskLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskLabel">Neue Aufgabe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- TASK FORM -->
        <form [formGroup]="taskCreationForm" (ngSubmit)="addTask(taskCreationForm.value)">
          <div class="form-group">
            <label for="InputTaskDescription">Beschreibung<b>*</b></label>
            <input type="text" maxlength="1000" class="form-control" id="InputTaskDescription"
                   formControlName="description"
                   pattern="[a-zA-ZÖöÜüÄä]+([ ]|[a-zA-ZÖöÜüÄä]|[0-9]|[.]|[,]|[(]|[)]|[-]|[/]|[^'\u0027])*">
          </div>
          <div class="form-group">
            <label for="InputEmployeeCount">Benötigte MitarbeiterInnen<b>*</b></label>
            <input type="number" min="1" pattern="[0-9]*" class="form-control" id="InputEmployeeCount" formControlName="employeeCount">
          </div>
          <div class="form-group">
            <label for="InputPaymentHourly">Bezahlung in Euro/pro Stunde<b>*</b></label>
            <input type="number" min="0" class="form-control" id="InputPaymentHourly" formControlName="paymentHourly">
          </div>
          <div class="form-group" *ngIf="this.interestAreas !== undefined && this.interestAreas.length !== 0">
            <label for="InputInterestArea">Interessengebiet</label>
            <select class="form-control" id="InputInterestArea" formControlName="interestArea">
              <option [value]=null>kein Interessengebiet ausgewählt</option>
              <ng-container *ngFor="let interestArea of this.interestAreas">
                <option [value]="interestArea.id">Gebiet: {{interestArea.area}} -
                  Beschreibung: {{interestArea.description}}</option>
              </ng-container>

            </select>
          </div>

          <!-- TASK FORM -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-toggle="modal"
                    data-target="#Add-Task" [disabled]="!taskCreationForm.valid">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal ADD TASK-->

<div class="jumbotron mt-5">
  <h1 class="display-4">Event erstellen</h1>
  <hr class="my-4">
  <div>

    <h5>Event Details</h5>
    <!-- EVENT FORM -->
    <form [formGroup]="eventCreationForm" (ngSubmit)="createEvent(eventCreationForm.value,
     addressCreationForm.value, this.tasks)">
      <div class="form-group">
        <label for="InputStart">Eventbeginn<b>*</b></label>
        <input type="datetime-local" max="9999-12-31T00:00" class="form-control" id="InputStart"
               formControlName="start">
      </div>
      <div class="form-group">
        <label for="InputEnd">Eventende<b>*</b></label>
        <input type="datetime-local" max="9999-12-31T00:00" class="form-control" id="InputEnd" formControlName="end">
      </div>
      <div class="form-group">
        <label for="InputTitle">Name<b>*</b></label>
        <input type="text" maxlength="255" class="form-control" id="InputTitle" formControlName="title">
      </div>
      <div class="form-group">
        <label for="InputDescription">Beschreibung<b>*</b></label>
        <input type="text" maxlength="1000" class="form-control" id="InputDescription" formControlName="description">
      </div>
      <br>

      <h5>Adresse</h5>
      <!-- ADDRESS FORM -->
      <form [formGroup]="addressCreationForm">
        <div class="form-group">
          <label for="InputCity">Stadt<b>*</b></label>
          <input type="text" class="form-control" id="InputCity" aria-describedby="enterCity"
                 formControlName="city" required>
        </div>
        <div class="form-group">
          <label for="InputState">Bundesland<b>*</b></label>
          <select class="form-control" id="InputState" formControlName="state">
            <option>Wien</option>
            <option>Niederösterreich</option>
            <option>Oberösterreich</option>
            <option>Steiermark</option>
            <option>Tirol</option>
            <option>Kärnten</option>
            <option>Salzburg</option>
            <option>Vorarlberg</option>
            <option>Burgenland</option>
          </select>
        </div>
        <div class="form-group">
          <label for="InputZip">Postleitzahl<b>*</b></label>
          <input type="number" min="1000" max="9999" class="form-control" id="InputZip" formControlName="zip">
        </div>
        <div class="form-group">
          <label for="InputAddressLine">Straße und Hausnummer<b>*</b></label>
          <input type="text" class="form-control" id="InputAddressLine" formControlName="addressLine">
        </div>
        <div class="form-group">
          <label for="InputAdditional">Adresszusatz</label>
          <input type="text" class="form-control" id="InputAdditional" formControlName="additional">
        </div>

      </form>
      <!-- ADDRESS FORM -->

      <div style="color: red;">
        Mit <b>*</b> markierte Felder sind Pflicht!
      </div>

      <br>


      <div *ngIf="tasks.length == 0">
        <br><br>
        <h5>Aufgaben zum Event hinzufügen</h5>
      </div>
      <br>

      <!-- Button trigger modal ADD TASK-->
      <button type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#Add-Task" (click)="getInterestAreas();">
        Neue Aufgabe
      </button>

      <div *ngIf="tasks.length != 0">
        <br><br>
        <h5>Jobs: </h5>
        <ng-container *ngFor="let task of tasks">
          <div>
            Aufgabe: {{task.description}} Bezahlung: {{task.paymentHourly}}€/h Benötigte MitarbeiterInnen: {{task.employeeCount}}
            <button type="button" class="small" (click)="deleteTask(task)">&times;</button>
          </div>
        </ng-container>
      </div>
      <alert></alert>
      <div class="form-group form-check">
        <button type="submit" style="float: right" class="btn btn-primary"
                [disabled]="!eventCreationForm.valid || !addressCreationForm.valid ||
                 this.tasks.length == 0">Speichern
        </button>
      </div>
    </form>
    <!-- EVENT FORM -->
  </div>
</div>

