.delete-interest-button {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: #465c69;

}
.delete-interest-button:hover {
  border-color: #ff4747;
}


.delete-time-button:hover {
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  width: min-content;
  height: min-content;
}

.container:hover .centered {
  display: block;
  cursor: pointer;
}

.container:hover img {
  opacity: 0.5;
  cursor: pointer;
}

.centered {
  display: none;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  width: 100%;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  border-radius: 50%;
  border: 4px solid #465c69;
  width: 250px;
  height: 250px
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
}
