<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="jumbotron mt-5">
  <h1 class="display-4">Profil bearbeiten</h1>
  <hr class="my-4">
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()">

    <form class="form" [formGroup]="editForm">
      <!-- profile picture -->
      <div>
        <div class="mb-2">
          <button class="btn btn-link float-right" (click)=deletePicture()>Bild entfernen</button>
          <div class="container" (click)="file.click()">
            <img *ngIf="hasPicture" id="img" src="{{picture}}" alt="profile_picture"
                 class="image">
            <img *ngIf="!hasPicture" id="img_default" src="assets/user_default.png" alt="default_profile_picture"
                 class="image">
            <div class="centered">Profilbild ändern</div>
          </div>
        </div>
      </div>
      <input type="file" id="pictureUpload" accept="image/png, image/jpeg" (change)="onFileSelected($event)"
             required #pictureUpload style="position: fixed; top: -100em" #file>

      <!-- first name -->
      <div class="form-group">
        <label for="firstName">Vorname*</label>
        <input class="form-control" type="text" name="firstName" formControlName="firstName" id="firstName">

        <div *ngIf="submitted && editForm.controls.firstName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.firstName.errors.required">Vorname muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- last name -->
      <div class="form-group">
        <label for="lastName">Nachname*</label>
        <input class="form-control" type="text" name="lastName" formControlName="lastName" id="lastName">
        <div *ngIf="submitted && editForm.controls.lastName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.lastName.errors.required">Nachname muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- gender -->
      <div class="form-group">
        <label for="gender">Geschlecht*</label>
        <select class="form-control" name="gender" formControlName="gender" id="gender">
          <option value="" hidden disabled>Geschlecht auswählen</option>
          <option *ngFor="let gender of genderOptions" [ngValue]="gender">{{gender}}</option>
        </select>
      </div>

      <!-- BirthDate -->
      <div class="form-group">
        <label for="birthDate">Geburtsdatum*</label>
        <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
      </div>
      <!--           BirthDate Employee error -->
      <div *ngIf="submitted && editForm.controls.birthDate.errors" class="error">
        <small class="form-text text-info" *ngIf="editForm.controls.birthDate.errors.required">
          Bitte geben Sie Ihr Geburtsdatum ein!
        </small>
        <small class="form-text text-info" *ngIf="editForm.controls.birthDate.errors.notAdult">
          Benutzer müssen volljährig sein!
        </small>
      </div>

      <!-- email -->
      <div class="form-group">
        <label for="email">E-Mail Adresse*</label>
        <input type="email" name="email" formControlName="email" class="form-control" id="email" readonly>
        <div *ngIf="submitted && editForm.controls.email.errors" class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.email.errors.required">E-Mail Adresse muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- public info -->
      <div class="form-group">
        <label for="publicInfo">Öffentliche Profilbeschreibung</label>
        <textarea name="publicInfo" formControlName="publicInfo" class="form-control" id="publicInfo"
                  placeholder="Beschreibung ..." maxlength="10000"></textarea>
      </div>

      <div>
        Interessen auswählen
        <div class="form-group" *ngFor="let i of interests">
          <input type="checkbox" name="{{i.id}}" id="{{i.id}}" (change)="toggleInterest($event, i.id)">
          <label for="{{i.id}}">{{i.name}}</label>
        </div>
      </div>

<!-- TIME Management begin-->

      <br>
      <br>

      <h5>
        <div data-toggle="tooltip" data-placement="top" title="Somit kannst du Jobs ganz leicht nach deiner verfügbaren Zeit filtern und
      bekommst auch nur Mails für neue Jobs, bei denen du auch Zeit hast!">
          Hier kannst du eintragen, wann du Zeit zum Arbeiten hast.
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
            <circle cx="8" cy="4.5" r="1"/>
          </svg>
        </div>
      </h5>

      <br>

      <!--
            <table class="table table-borderless">
              <thead>
              <tr>
                <th scope="col">jeden</th>
                <th scope="col">Montag</th>
                <th scope="col">Dienstag</th>
                <th scope="col">Mittwoch</th>
                <th scope="col">Donnerstag</th>
                <th scope="col">Freitag</th>
                <th scope="col">Samstag</th>
                <th scope="col">Sonntag</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">von</th>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
              </tr>
              <tr>
                <th scope="row">bis</th>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
                <td>
                  <input type="time">
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="8"> <hr/> </th>
              </tr>




              TODO add button for adding additional times

              <tr>
                <th scope="row">
                  <svg (click)="addNewTimeRow()" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                </th>
              </tr>

              </tbody>
            </table>

            -->

      <!-- Button trigger time adding Modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTimeModal">
        neue Zeitspanne hinzufügen
      </button>

      <div *ngIf="times.length != 0">
        <br><br>
        <h5>verfügbare Zeiten: </h5>
        <ng-container *ngFor="let time of times">
          <div *ngIf="time.visible">
            <button type="button" class="small" (click)="deleteTime(time)">&times;</button>
            <a style="margin: 1em"> <b>Datum:</b> {{time.start.substr(0, 10) |  date:'MM/dd/yyyy'}}</a>
            <a style="margin-right: 1em"> <b>Von:</b> {{time.start.substr(11, 5)}} Uhr</a>
            <a> <b>Bis:</b> {{time.end.substr(11, 5)}} Uhr | </a>
            <ng-container *ngIf="time.booleanDate">
              wiederholt sich wöchentlich? <a style="color: green"><b>ja</b></a>
            </ng-container>
            <ng-container *ngIf="!time.booleanDate">
              wiederholt sich wöchentlich? <a style="color: red"><b>nein</b></a>
            </ng-container>

          </div>
        </ng-container>
      </div>

<!-- TIME Management end-->

      <div class="form-group form-check">
        <!--button type="button" routerLink="/" class="btn btn-outline-secondary float-right">Abbrechen</button-->
        <button type="button" (click)="update()" class="btn btn-outline-primary float-right">Speichern</button>
      </div>
    </form>
  </div>
</div>

<button class="btn btn-primary float-right" (click)="changePassword=true" data-target="#passwordUpdateModal"
        data-toggle="modal">Passwort ändern
</button>
<app-edit-password [changePassword]="changePassword"></app-edit-password>

<!-- time adding Modal -->
<div class="modal fade" id="addTimeModal" tabindex="-1" role="dialog" aria-labelledby="addTimeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTimeModalLabel">neue Zeitspanne hinzufügen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="timeCreationForm" (ngSubmit)="addTime(timeCreationForm.value)">
          <div class="form-group">
          <label for="availableDate">Datum</label>
          <input type="date" id="availableDate" formControlName="date" class="form-control" style="margin-bottom: 1em">
          </div>
          <div class="form-group">
          <label for="availableTimeStart">Von</label>
          <input type="time" id="availableTimeStart" class="form-control" formControlName="timeStart"
                 style="margin-bottom: 1em">
          </div>
          <div class="form-group">
          <label for="availableTimeEnd">Bis</label>
          <input type="time" id="availableTimeEnd" class="form-control" formControlName="timeEnd">
          </div>
          <br>

          <div class="form-group">
          <input type="checkbox" id="weekly" style="margin-right: 1em" class="form-control; switch" formControlName="booleanDate">
            <label for="weekly">soll sich wöchentlich wiederholen? <i>(ein Jahr lang)</i></label>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addTimeModal" [disabled]="!timeCreationForm.valid">Speichern</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- time adding Modal -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
