<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Modal ADD Interest-->
<div class="modal fade" id="Add-Interest" tabindex="-1" role="dialog" aria-labelledby="addInterestLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:33%" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addInterestLabel">Neues Interesse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Interest FORM -->
        <form [formGroup]="interestForm" (ngSubmit)="addInterest(interestForm.value)">
          <div class="form-group">
            <label for="InputInterestName">Name<b>*</b></label>
            <input type="text" maxlength="100" class="form-control" id="InputInterestName"
                   formControlName="name" pattern="[a-zA-Z]+([ ]|[a-zA-Z]|[0-9])*">
          </div>
          <div class="form-group">
            <label for="InputInterestDescription">Beschreibung<b>*</b></label>
            <input type="text" maxlength="1000" class="form-control" id="InputInterestDescription"
                   formControlName="description" pattern="[a-zA-Z]+([ ]|[a-zA-Z]|[0-9])*">
          </div>
          <div class="form-group" *ngIf="this.interestAreas !== undefined && this.interestAreas.length !== 0">
            <label for="InputInterestInterestArea" style="margin-bottom: 0px">Interessengebiet</label><br>
            <small><i>(Wenn du kein Interessengebiet auswählst, kann dieses Interesse nicht für
              deine möglichen Aufgabenvorschläge verwendet werden.)</i></small>
            <select class="form-control" id="InputInterestInterestArea" formControlName="interestArea">
              <option [value]=null>kein Interessengebiet</option>
              <ng-container *ngFor="let interestArea of this.interestAreas">
                <option [value]="interestArea.id">Gebiet: {{interestArea.area}} -
                  Beschreibung: {{interestArea.description}}</option>
              </ng-container>
            </select>
          </div>


          <!-- Interest FORM -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-toggle="modal"
                    data-target="#Add-Interest" [disabled]="!interestForm.valid">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal ADD Interest-->

<div class="jumbotron mt-5">
  <h1 class="display-4">Profil bearbeiten</h1>
  <hr class="my-4">
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()">

    <form class="form" [formGroup]="editForm">
      <!-- profile picture -->
      <div>
        <div class="mb-2">
          <button class="btn btn-link float-right" (click)=deletePicture()>Bild entfernen</button>
          <div class="container" (click)="file.click()">
            <img *ngIf="hasPicture" id="img" src="{{picture}}" alt="profile_picture"
                 class="image">
            <img *ngIf="!hasPicture" id="img_default" src="assets/user_default.png" alt="default_profile_picture"
                 class="image">
            <div class="centered">Profilbild ändern</div>
          </div>
        </div>
      </div>
      <input type="file" id="pictureUpload" accept="image/png, image/jpeg" (change)="onFileSelected($event)"
             required #pictureUpload style="position: fixed; top: -100em" #file>

      <!-- first name -->
      <div class="form-group">
        <label for="firstName">Vorname*</label>
        <input class="form-control" type="text" name="firstName" formControlName="firstName" id="firstName">

        <div *ngIf="submitted && editForm.controls.firstName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.firstName.errors.required">Vorname muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- last name -->
      <div class="form-group">
        <label for="lastName">Nachname*</label>
        <input class="form-control" type="text" name="lastName" formControlName="lastName" id="lastName">
        <div *ngIf="submitted && editForm.controls.lastName.errors"
             class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.lastName.errors.required">Nachname muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- gender -->
      <div class="form-group">
        <label for="gender">Geschlecht*</label>
        <select class="form-control" name="gender" formControlName="gender" id="gender">
          <option value="" hidden disabled>Geschlecht auswählen</option>
          <option *ngFor="let gender of genderOptions" [ngValue]="gender">{{gender==='MALE'?'Männlich':gender=='FEMALE'?'Weiblich':'Divers'}}</option>
        </select>
      </div>

      <!-- BirthDate -->
      <div class="form-group">
        <label for="birthDate">Geburtsdatum*</label>
        <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
      </div>
      <!--           BirthDate Employee error -->
      <div *ngIf="submitted && editForm.controls.birthDate.errors" class="error">
        <small class="form-text text-info" *ngIf="editForm.controls.birthDate.errors.required">
          Bitte geben Sie Ihr Geburtsdatum ein!
        </small>
        <small class="form-text text-info" *ngIf="editForm.controls.birthDate.errors.notAdult">
          Benutzer müssen volljährig sein!
        </small>
      </div>

      <!-- email -->
      <div class="form-group">
        <label for="email">E-Mail Adresse*</label>
        <input type="email" name="email" formControlName="email" class="form-control" id="email" readonly>
        <div *ngIf="submitted && editForm.controls.email.errors" class="error">
          <small class="form-text text-info" *ngIf="editForm.controls.email.errors.required">E-Mail Adresse muss
            eingegeben werden
          </small>
        </div>
      </div>

      <!-- public info -->
      <div class="form-group">
        <label for="publicInfo">Öffentliche Profilbeschreibung</label>
        <textarea name="publicInfo" formControlName="publicInfo" class="form-control" id="publicInfo"
                  placeholder="Beschreibung ..." maxlength="10000"></textarea>
      </div>

      <!-- interests -->
      <div>
        <label>Interessen:</label>
        <div *ngIf="employeeInterests.length !== 0">
          <ul>
            <ng-container *ngFor="let interest of employeeInterests">
              <li>
                <div>
                  {{interest.name}}: {{interest.description}}
                  <button type="button" class="small" (click)="deleteInterest(interest)">&times;</button>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <!-- Button trigger modal ADD Interest-->
      <button type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#Add-Interest" (click)="loadInterestAreas()">
        Interesse hinzufügen
      </button>

      <div class="form-group form-check">
        <!--button type="button" routerLink="/" class="btn btn-outline-secondary float-right">Abbrechen</button-->
        <button type="button" (click)="update()" class="btn btn-outline-primary float-right">Speichern</button>
      </div>
    </form>
  </div>
</div>

<button class="btn btn-primary float-right" (click)="changePassword=true" data-target="#passwordUpdateModal" data-toggle="modal">Passwort ändern</button>
<app-edit-password [changePassword]="changePassword"></app-edit-password>

