<div class="banner">
  <div class="banner-text">Anmelden - Job suchen - Bewerben</div>
  <div class="bg-image bg-image-banner bg-center-center">
  </div>
</div>


<div class="jumbotron mt-5">
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" data-target="#loginModal" data-toggle="modal"
     role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()">
    <button type="button" class="btn btn-primary btn-lg" routerLink="/create-event">
      Neues Event
    </button>
  </div>
</div>
<app-login [isEmployee]="false"></app-login>
<app-register></app-register>
