.eventoverviewcontainer {
  font-family: 'Century Gothic', sans-serif;
}
.event-search-form {
  font-family: 'Century Gothic', sans-serif;
}
.event-item {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.event-item:hover{
  cursor: pointer;
  background-color: rgba(255, 165, 69, 0.15);
}
.add-event-button {
  background-color: white;
  color: #465c69;
  border-color: #465c69;
  font-weight: bold;
}
.add-event-button:hover {
  background-color: #465c69;
  color: white;
}
.select-option-none {
  font-style: italic;
}

.search-button {
  background-color: white;
  color: #FFA545;
  border-color: #FFA545;
  font-weight: bold;
}
.search-button:hover{
  background-color: #FFA545;
  color: white;
}
.setting-button {
  background-color: #465c69;
  color: white;
  border-color: #465c69;
  font-weight: bold;
}
.setting-button:hover {

}

.search-result-feedback {
  font-family: 'Century Gothic', sans-serif;
}
.info-button {
  border: white;
}
.info-button:hover{

}
.col-state {
  margin-top: 0.9em;
}
.reset-button {
  background: #495057;
  color: white;
  border-color: #495057;
}
.reset-button:hover {
  background: #dc3545;
  color: white;
  border-color: #dc3545;
}

.address{
  text-align: right;
}
