<div class="modal fade" id="loginModal" data-backdrop="static"  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" style="width:33%" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Anmelden als {{isEmployee == true ? "Arbeitnehmer" : "Arbeitgeber"}}</h5>
        <button type="button" (click)="clearForm()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Authentication problems!</strong> {{ errorMessage }}
          <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
            <small class="form-text text-warning" *ngIf="loginForm.controls.email.errors.required">
              Bitte geben Sie Ihre E-Mail ein.
            </small>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
               <span class="input-group-text">
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd"
                         d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                 </svg>
               </span>
            </div>
            <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                   aria-describedby="emailHelp" placeholder="E-Mail">
          </div>

          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.required">
              Bitte geben Sie Ihr Passwort ein.
            </small>
            <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.minlength">
              Ihr Passwort muss mindestens 8 Zeichen lang sein!
            </small>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
               <span class="input-group-text">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                    <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                  </svg>
               </span>
            </div>
            <input type="password" name="password" formControlName="password" class="form-control" id="password"
                   placeholder="Passwort">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <p class="text-left text-light mr-auto" style="transform: rotate(0);">
          <a class="stretched-link" data-target="#registerModal" data-toggle="modal" data-dismiss="modal">
            Noch kein Mitglied? Zur Registrierung
          </a>
        </p>
        <button type="button" (click)="loginUser()" class="btn btn-outline-primary">Anmelden</button>
        <button type="button" (click)="clearForm()" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
      </div>

    </div>
  </div>
</div>
<app-register [isEmployee]="isEmployee"></app-register>
