.table-data:hover{
  background-color: rgba(255, 165, 69, 0.15);
  cursor: pointer;
}

.table_name {
  width: 15%;
}

.table_interests {
  width: 25%;
}

.table_public {
  width: 45%;
}

table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-button {
  background-color: white;
  color: #FFA545;
  border-color: #FFA545;
  font-weight: bold;
}
.search-button:hover{
  background-color: #FFA545;
  color: white;
}

.smart-button {
  background-color: white;
  color: #339FFF;
  border-color: #339FFF;
  font-weight: bold;
}
.smart-button:hover{
  background-color: #339FFF;
  color: white;
}

.event-search-form {
  font-family: 'Century Gothic', sans-serif;
}

.smart-filter{
  padding-top: 37.5px;
}
