.bi-star-fill:hover{
  color: rgba(251,212,117,0.97);
}
.bi-check-circle:hover {
  fill: lawngreen;
}
.bi-x-circle:hover {
  fill: red;
}
.badge-notify{
  background: #ff4747;
  color: white;
  position:relative;
  top: -10px;
  left: -10px;
  width: 55px;
  height: 24px;
}

hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}
