.bi-check-circle:hover {
  fill: lawngreen;
}
.bi-x-circle:hover {
  fill: red;
}
.btn-link {
  padding: 0;
}

.list-group{
  max-height: 400px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y:auto
}
