<ul class="list-group" *ngIf="notifications.length > 0">
<ng-container *ngFor="let notification of notifications; trackBy: trackId">
  <li class="list-group-item mb-2" (mouseover)="updateSeenStatus(notification)">
    <div class="row">
      <span *ngIf="!notification.seen" class="badge badge-danger float-left">neu</span>
    </div>
    <div class="justify-content-end">
      <a (click)="deleteNotification(notification.id)" type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="row">
<!--      <strong *ngIf="notification.sender != null">Sender: {{notification.sender.firstName}} {{notification.sender.lastName}} </strong>-->
      <a class="btn btn-link p-0" (click)="navigateToNewPage(notification.event.id)"> Event: {{notification.event.title}}</a>
    </div>
    <div class="row">
      <div class="col-12 text-left">
        {{notification.message}}
      </div>
    </div>
  </li>
</ng-container>
</ul>
<a *ngIf="notifications.length === 0">
  <h6><i>keine Benachrichtigungen</i></h6>
</a>
