<ul *ngFor="let notification of notifications; trackBy: trackId"  class="list-group">
  <li class="list-group-item mb-2" (mouseover)="updateSeenStatus(notification)">
    <div class="row" >
      <span *ngIf="!notification.seen" class="badge badge-danger float-left">new</span>
    </div>
    <div *ngIf="authService.getUserRole() === 'EMPLOYEE'" class="justify-content-end">
      <a (click)="deleteNotification(notification.id)" type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="row">
      <strong>Sender: {{notification.sender.firstName}} {{notification.sender.lastName}} <br> Event: {{notification.event.title}}</strong>
    </div>
    <div class="row">
      <div class="col-12 text-justify">
        {{notification.message}}
      </div>
    </div>
    <div class="row" *ngIf="authService.getUserRole() === 'EMPLOYER'">
      <div class="offset-5 mr-2">
        <svg (click)="accept(notification)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
        </svg>
      </div>
      <div class="justify-content-end">
        <svg (click)="decline(notification)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>
    </div>
  </li>
</ul>
